.navbaru {
    background: linear-gradient(0deg, rgb(24, 84, 238, .17) 17%, rgb(41, 210, 246) 100%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-containeru {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;

    max-width: 1500px;
}


.profileNB {
    width: 100% !important;
    height: 100% !important;
    max-width: 50px !important;
    /* any size */
    max-height: 50px !important;

    margin-left: 10px;
    /* any size */
    margin: auto;
    float: left;
    background-color: rgb(0, 0, 0);
    border-radius: 100%;
    position: relative;
    z-index: 2;

}

.perfilNB {
    position: absolute;
    top: 5;
    left: 30px;
    width: 300px;
    height: 50px;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);

}

.txtNB {
    top: 5;
    color: rgb(0, 0, 0);
    font-size: 1.4rem;
    font-weight: bold;
    float: left;
    padding: 5px;
    margin-top: 5px;
    text-align: center;
    text-size-adjust: 100%;
}



.fa-typo3 {
    margin-left: 0.5rem;
    font-size: 1.8rem;
}

.nav-menuUS {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 100vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-itemUS {
    height: 60px;
    width: 60px;
    border-radius: 50px;
    background-color: #fff;
}

.nav-buttonUS {
    color: #585858;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

.nav-buttonUS:hover {
    color: #08eaf1;

}



.nav-linksUS {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
}

.nav-links:hover {
    border-bottom: 4px solid #fff;
    transition: all 0.2s ease-out;
}

.fa-bars {
    color: #fff;
}

.nav-links-mobile {
    display: none;
}

.menu-iconu {
    display: none;
}

@media screen and (max-width: 960px) {
    .NavbarItems {
        position: relative;
    }

    .nav-menuUS {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        position: absolute;
        text-align: center;
        top: 20px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.activeUS {
        background: #242222;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-itemUS {
        height: 60%;
        width: 60%;
        border-radius: 50px;
        background-color: #fff;
    }

    .nav-linksUS {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .navbar-logoUS {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }

    .menu-iconu {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        color: #fff;
        font-size: 2rem;
    }

    .nav-linksUS-mobile {
        display: block;
        text-align: center;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        text-decoration: none;
        font-size: 1.5rem;
        background-color: transparent;
        color: #fff;
        padding: 14px 20px;
        border: 1px solid #fff;
        transition: all 0.3s ease-out;
    }

    .nav-linksUS-mobile:hover {
        background: #fff;
        color: #242424;
        transition: 250ms;
    }
}