.edit {
    width: 40%;
    height: 100%;
    background-color: #0683ff57;
    display: flex;
    flex-direction: column;
    padding: 6px;
    border-radius: 0px 40px 40px 0px;
}

.textoarriba {
    margin-top: 10px;
    margin-right: -10px;
}

.ajustepantalla {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;
    border-radius: 30px;
}

.edit__container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;

}

.edit-text {

    padding: 10px;
    font-size: 27px;
    width: 360px;
    border: none;
    margin-left: 20px;
    border-radius: 5px;
}

.text {

    padding: 10px;
    font-size: 15px;
    width: 360px;
    border: none;

    margin-left: -40px;
    border-radius: 5px;
}

.edit-textBox {

    padding: 25px;
    font-size: 27px;
    width: 300px;
    border: none;
    margin-bottom: 10px;
    border-radius: 5px;
}

.edit__btn {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    width: 300px;
    border: none;
    color: black;
    background-color: rgb(250, 250, 250);
    border-radius: 5px;
    opacity: 70;
    text-decoration: none;
}

.edit__btn:hover {
    transition: all 1s ease-out;
    background: linear-gradient(350deg, rgb(30, 14, 175) 0%, rgb(8, 234, 241) 90%);
    color: #fcfcfc;
    transition: 250ms;
}

.sinsub {
    text-decoration: none;
}

.arts__btn {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    width: 100px;
    border: none;
    color: black;
    background-color: rgb(250, 250, 250);
    border-radius: 5px;
    opacity: 70;
}

.arts__btn:hover {
    transition: all 1s ease-out;
    background: linear-gradient(350deg, rgb(30, 14, 175) 0%, rgb(8, 234, 241) 90%);
    color: #fcfcfc;
    transition: 250ms;
}

.Selectbox {
    margin-right: 50px;
    display: center;
    font-size: 18px;
    width: 302px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.textpic {
    font-size: 18px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-bottom: 10px;
    margin-top: 10px;
}

/*Profile Pic Start*/
.picture-container {
    position: relative;
    top: -30px;
    left: -20px;
    cursor: pointer;
    text-align: center;
}

.picture {
    width: 106px;
    height: 106px;
    background-color: #3b2eeee8;
    border: 4px solid #0051ff;
    color: #FFFFFF;
    border-radius: 50%;
    margin: 0px auto;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.picture:hover {
    border-color: #0e99fc;
}

.content.ct-wizard-green .picture:hover {
    border-color: #05ae0e;
}

.content.ct-wizard-blue .picture:hover {
    border-color: #3472f7;
}

.content.ct-wizard-orange .picture:hover {
    border-color: #ff9500;
}

.content.ct-wizard-red .picture:hover {
    border-color: #ff3b30;
}

.picture input[type="file"] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
}

.picture-src {
    width: 100%;

}