.login {
    
    height: 500px;
    width: 1500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #dcdcdc;
    padding: 20px;
    border-radius: 30px 15px;
}

.login__textBox {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 9px;
}

.login__btn {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    color: black;
    background-color: white;
    border: 2px solid #3cf690;
    border-radius: 30px;
    opacity: 70;
}

.login__btn:hover {
    opacity: 100;
    color: black;
}



.login__google:hover {
    color: rgb(0, 0, 0);
}

.login div {
    margin-top: 7px;
}

Link {
    color: black;
}