.reset {
  width: 40%;
  height: 100%;
  background-color: #0683ff57;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 0px 40px 40px 0px;
}

.reset__container {
  margin: 10%;
  display: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  border-radius: 30px 15px;
}

.reset__textBox {
  padding: 10px;
  font-size: 18px;
  width: 300px;
  border: none;
  margin-bottom: 10px;
  border-radius: 5px;
}

.reset__btn {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  width: 300px;
  border: none;
  color: black;
  background-color: rgb(250, 250, 250);
  border-radius: 5px;
  opacity: 70;
}
.reset__btn:hover{
  transition: all 0.3s ease-out;
  background: linear-gradient(350deg, rgb(30, 14, 175) 0%, rgb(8, 234, 241) 90%);
  color: #fcfcfc;
  transition: 250ms;
}
.reset div {
  margin-top: 7px;
}

.Linkbox {
  font-size: 18px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.Linktxt {
  
  color: rgb(12, 174, 185);
  text-decoration: none;
}
.Linktxt:hover{
  color: rgb(255, 255, 255);
  text-decoration: none;
}
