.register {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#3cf690, #1e2cf5);
  
}

.register__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #20ec9e;
  padding: 30px;
  border-radius: 15px 30px;
  box-shadow: 0px 0px 5px 1px black;
}

.register__textBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border-radius: 15px 50px 30px;
}

.register__btn {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  color: rgb(250, 250, 250);
  background-color: rgb(46, 105, 214);
  border-radius: 50px;
}
.register__btn:hover {
  background-color: rgb(0, 60, 172);
  color: white;
}

.register__google {
  background-color: #2824ff;
}

.register div {
  margin-top: 7px;
}
