.login {
    width: 40%;
    height: 100%;
    background-color: #0683ff57;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 0px 40px 40px 0px;
}

.login__container {

    position: absolute;
    top: -150px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10%;
    border-radius: 30px 15px;
    white-space: nowrap;
    overflow: hidden;
}

.login__textBox {

    padding: 10px;
    font-size: 18px;
    width: 300px;
    border: none;
    margin-bottom: 10px;
    border-radius: 5px;
}

.login__btn {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    width: 300px;
    border: none;
    color: black;
    background-color: rgb(250, 250, 250);
    border-radius: 5px;
    opacity: 70;
}

.login__btn:hover {
    transition: all 0.3s ease-out;
    background: linear-gradient(350deg, rgb(30, 14, 175) 0%, rgb(8, 234, 241) 90%);
    color: #fcfcfc;
    transition: 250ms;
}




.login div {
    margin-top: 7px;
}

.Linkbox {
    font-size: 18px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.Linktxt {

    color: rgb(12, 174, 185);
    text-decoration: none;
}

.Linktxt:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.logo {
    background: -webkit-linear-gradient(rgb(30, 14, 175), rgb(8, 234, 241));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 100px;
}

.logo:hover {
    background: -webkit-linear-gradient(rgb(8, 234, 241), rgb(30, 14, 175));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 100px;
    transition: 250ms;
}

.nav-buttons {
    width: 100%;
    height: 100%;
    padding-top: 40px;
    opacity: 1;
    margin-bottom: 3em;
}

button {
    background-color: #ffffff;
    border: 2px solid #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 10px;

}

button:focus {
    outline: 0px;
}

button.active {
    padding-bottom: 10px;
    border-radius: 30px;
    background-color: rgb(8, 234, 241);
    border-bottom: solid 2px #1059FF;
}

fieldset {
    border: 1px solid;
    width: 200px;
    height: 50px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 3em;
}