.edit {
    width: 45%;
    height: 100%;
    background-color: #0683ff57;
    display: flex;
    padding: 10px;
    border-radius: 0px 40px 40px 0px;
    position: sticky;
}

.edit__container {

    margin: 10%;
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;

}

.edit-text {

    padding: 10px;
    font-size: 27px;
    width: 360px;
    border: none;
    margin-left: 20px;
    border-radius: 5px;
}

.text {

    padding: 10px;
    font-size: 15px;
    width: 360px;
    border: none;

    margin-left: -40px;
    border-radius: 5px;
}

.edit-textBox {

    padding: 25px;
    font-size: 27px;
    width: 300px;
    border: none;
    margin-bottom: 10px;
    border-radius: 5px;
}

.edit__btn {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    width: 300px;
    border: none;
    color: black;
    background-color: rgb(250, 250, 250);
    border-radius: 5px;
    opacity: 70;
}

.edit__btn:hover {
    transition: all 1s ease-out;
    background: linear-gradient(350deg, rgb(30, 14, 175) 0%, rgb(8, 234, 241) 90%);
    color: #fcfcfc;
    transition: 250ms;
}

.DatePicker {
    font-size: 18px;
    width: 300px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}