* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}


.sign-upbg {
  background-image: url('./images/image2-home.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  overflow-y: scroll;
  overflow-x: hidden;
}

.loginbg {
  background-image: url('./images/image2-home.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  width: 100%;
  height: 100%;
  position: fixed;


}

.resetbg {
  background-image: url('./images/image2-home.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  width: 100%;
  height: 100%;
  position: fixed;


}

.editbg {
  background-image: url('./images/image2-home.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-y: auto;
}

