.register,
scroll-container {
    width: 40%;
    height: 150%;
    background-color: #0683ff57;
    display: flex;
    flex-direction: column;
    padding: 6px;
    border-radius: 0px 40px 40px 0px;

}

scroll-container {
    display: block;
    width: 350px;
    height: 200px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}


.activeregister {
    padding: 10px;
    font-size: 18px;

    width: 150px;
    height: 40px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgba(16, 233, 186, 0.747);
    border-radius: 30px;
    opacity: 70;

}

.nav-buttons {
    width: 100%;
    height: 100px;
    padding-top: 40px;
    opacity: 1;
    margin-bottom: 3em;
}

button {
    font-size: 1.5em;
    margin-right: 1.1em;
    border: 0px;
    cursor: pointer;

}

button:focus {
    outline: 0px;
}

button.active {
    padding-bottom: 10px;
    border-radius: 30px;
    border-bottom: solid 2px #1059FF;
}

.register__container {
    position: absolute;
    top: -150px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10%;
    border-radius: 30px 15px;
    white-space: nowrap;
    overflow: hidden;

}

.register__textBox {
    padding: 10px;
    font-size: 18px;
    width: 300px;
    border: none;
    margin-bottom: 10px;
    border-radius: 5px;
}

.register__btn {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    width: 300px;
    border: none;
    color: black;
    background-color: rgb(250, 250, 250);
    border-radius: 5px;
    opacity: 70;
}

.register__btn:hover {
    transition: all 0.3s ease-out;
    background: linear-gradient(350deg, rgb(30, 14, 175) 0%, rgb(8, 234, 241) 90%);
    color: #fcfcfc;
    transition: 250ms;
}

.register__google {
    background-color: #2824ff;
}

.register div {
    margin-top: 7px;
}

.Linkbox {
    font-size: 18px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.textpic {
    font-size: 18px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-bottom: 10px;
    margin-top: 10px;
}

.Linktxt {

    color: rgb(12, 174, 185);
    text-decoration: none;
}

.Linktxt:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.logo {
    background: -webkit-linear-gradient(rgb(30, 14, 175), rgb(8, 234, 241));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 100px;

}

.logo:hover {
    background: -webkit-linear-gradient(rgb(8, 234, 241), rgb(30, 14, 175));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 100px;
    transition: 250ms;
}

.Selectbox {

    display: center;
    font-size: 18px;
    width: 302px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}


/*Profile Pic Start*/
.picture-container {
    position: relative;
    top: -30px;
    left: -20px;
    cursor: pointer;
    text-align: center;

}

.picture {
    width: 106px;
    height: 106px;
    background-color: #3b2eeee8;
    border: 4px solid #0051ff;
    color: #FFFFFF;
    border-radius: 50%;
    margin: 0px auto;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.picture:hover {
    border-color: #0e99fc;
}

.content.ct-wizard-green .picture:hover {
    border-color: #05ae0e;
}

.content.ct-wizard-blue .picture:hover {
    border-color: #3472f7;
}

.content.ct-wizard-orange .picture:hover {
    border-color: #ff9500;
}

.content.ct-wizard-red .picture:hover {
    border-color: #ff3b30;
}

.picture input[type="file"] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
}

.picture-src {
    width: 100%;

}

.tamicon {
    float: center;
    margin-top: 20px;
    width: 50px;
    height: 50px;
}

.edit__btn {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    width: 300px;
    border: none;
    color: black;
    background-color: rgb(250, 250, 250);
    border-radius: 5px;
    opacity: 70;
}

.edit__btn:hover {
    transition: all 1s ease-out;
    background: linear-gradient(350deg, rgb(30, 14, 175) 0%, rgb(8, 234, 241) 90%);
    color: #fcfcfc;
    transition: 250ms;
}

.text {

    padding: 10px;
    font-size: 15px;
    width: 360px;
    border: none;

    margin-left: -40px;
    border-radius: 5px;
}