.card {
    position: relative;
    width: 600px;
    padding: 20px;
    max-width: 85vw;
    height: 50vh;
    border-radius: 20px;
    background-size: cover;
    background-position: center;

}



.card>h3 {
    position: absolute;
    bottom: 10px;
    color: white;
}

.tinderCards__cardContainer {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.swipe {
    position: absolute;
}

.textogande {
    font-family: 'Gotham Rounded', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    padding-left: 10px;
    text-align: left;
    margin-top: 10px;
}

.textomediano {
    font-family: 'Gotham Rounded', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    padding-left: 10px;
    text-align: left;
    margin-top: 10px;
}

.redondoMatch {
    font-size: 1.5em;
    margin-right: 1.1em;
    margin-top: 0.5rem;
    border: 0px;
    color: #fff;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 30px;
    background: rgb(2, 0, 36);
    background: rgba(0, 213, 255, 0.603);
}