@media only screen and (min-width: 896px) {
    .card {
        max-width: 365px;
        height: 667px;
        max-height: calc(100vh - 103px);
    }
}

@media only screen and (max-width:895px) {
    .card {
        min-width: calc(80vh - 67.2px)
    }
}

@keyframes tiltRecCardRight {
    50% {
        transform: rotateY(8deg)
    }
}

@keyframes tiltRecCardLeft {
    50% {
        transform: rotateY(-8deg)
    }
}



.textogande {
    font-family: 'Gotham Rounded', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    padding-left: 10px;
    text-align: left;
    margin-top: 10px;
    text-decoration: none;
}

.textomediano {
    font-family: 'Gotham Rounded', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    padding-left: 10px;
    text-align: left;
    margin-top: 10px;
}



.containerMA {
    width: 100%;
    height: 100px;
    opacity: 1;
    margin-bottom: 5em;
    margin-top: 1em;
    margin-left: 1em;
    outline: 0px;
}

.redondoMatch {
    font-size: 1.2em;
    margin-right: 1.1em;
    margin-top: 0.5rem;
    border: 0px;
    color: #fff;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 30px;
    background: rgb(2, 0, 36);
    background: rgba(0, 213, 255, 0.603);
}



form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
}

form redondoMatch {
    width: 100px;
    margin: 0 auto;
}


.tinderCard__cardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 41vh;
    margin-right: 0%;
}

.swipe {
    position: absolute;
}

.cardtext {
    bottom: 40px;
}

.container {
    position: absolute;
    top: 320px;
    right: 0;
    border-radius: 25px;
    padding-bottom: 10%;
    width: 100%;
    height: 350px;
    max-height: calc(57vh - 103px);
    background: rgb(0, 0, 0, 0.6);
}